$textColor: rgb(110, 142, 168);

.background {
  color: $textColor;
}

h1 {
  padding-left: 5%;
}

.text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 3%;
  text-align: justify;
}

img {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-self: center;
}
