$textColor: rgb(110, 142, 168);
@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  color: $textColor;
}

h1 {
  padding-left: 5%;
}

h3 {
  @include flex();
}

.middle-box {
  @include flex();
  flex-direction: column;
  padding: 40px;
  font-size: 12px;
}

.text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 3%;
  text-align: justify;
}

.box {
  @include flex();
  padding: 10px;
}

.img {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-self: center;
}
