$textColor: rgb(110, 142, 168);

@mixin boxDefault() {
  border: solid;
  border-color: rgb(198, 206, 206);
  width: 60vh;
  font-size: 17px;
  border-radius: 4px;
  color: $textColor;
}

@mixin buttons() {
  color: $textColor;
  border: solid;
  border-radius: 4px;
  padding: 10px;
}

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  @include buttons();
}

.account-background {
  color: $textColor;
  @include flex();
  flex-direction: column;
  padding: 20px;
}

h1 {
  @include flex();
}

.info {
  @include boxDefault();
  padding: 70px;

  // display: flex;
  // justify-content: center;
}
