$textColor: rgb(110, 142, 168);

@mixin boxDefault() {
  border: solid;
  border-color: rgb(198, 206, 206);
  width: 20vh;
  font-size: 17px;
  border-radius: 4px;
  color: $textColor;
}

button {
  @include boxDefault();
}

.account-background {
  color: $textColor;
  display: flex;
  align-items: center;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
