$backgroundColor: rgb(45, 92, 114);
$textColor: rgb(223, 223, 223);

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  @include flex();
  color: $textColor;
  background: $backgroundColor;
  width: 100vw;
  align-items: space-around;
  h1 {
    font-weight: bolder;
  }
  button {
    background: $backgroundColor;
    border: none;
    color: $textColor;

    &:hover {
      font-size: 20px;
    }
  }
}
